@font-face {
  font-family: 'San Francisco';
  font-weight: 400;
  src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff');
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'San Francisco';
  /* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */
}
body {
  background: #0e0c13;
}
.navigation {
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
}
.navigation nav ul {
  display: flex;
  list-style: none;
  font-size: 18px;
}
.navigation nav ul li {
  padding: 10px;
}
.navigation nav ul li a {
  text-decoration: none;
  margin-right: 2rem;
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header h1 {
  color: #fff;
  margin: 50px 0 0 140px;
  font-size: 3rem;
}
.header h1 span {
  color: #ffcc00;
  font-size: 3rem;
}
.header {
  width: 100%;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
  gap: 20px;
}
.col {
  margin: 0 10px;
  width: 450px;
  height: auto;
  padding: 10px;
  color: white;
}
.col h2 {
  color: #f4d95d;
}
.col p {
  color: #fff;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.col img {
  width: 100%;
  height: 200px;
  background-color: #ffcc00;
}
.col a {
  color: #f4d95d;
}
.col a:hover {
  color: #ffcc00;
}
.col h2,
.col p,
.col .img,
a {
  padding: 5px;
}
/* mobile */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .navigation img {
    display: none;
  }
  .navigation {
    display: inline-block;
    padding: 20px;
  }
  .navigation nav ul li {
    padding: 0;
  }
  .content {
    width: 100%;
  }
}
